################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreBackend/.vs
/AspNetCoreBackend/AspNetCoreBackend/bin/Debug/netcoreapp2.1
/AspNetCoreBackend/AspNetCoreBackend/obj
